@import "node_modules/bootstrap/scss/mixins";

.statistics {
  h5 {
    font-size: 1.0625rem;
  }

  .card {
    .list-group {
      .list-group-item {
        &.d-none {
          display: none !important;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .statistics {
    .card-group {
      box-shadow: none !important;
    }
  }
}